<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Gamja Flower -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/Front/src/assets/css/footer.css" type="text/css">
    <title>Esqueleto Proyecto</title>
</head>

<body>
    <footer class="container-fluid bg-dark subtitulos">
        <div class="row pt-2">
          <div class="col">
            <div class="row d-flex flex-wrap">
              <div class="col py-2">
                <a class="text-white" href="07-acerca-de-nosotros.html">ACERCA DE NOSOTROS</a>
              </div>
              <div class="col py-2">
                <a class="text-white" href="05-contactUS.html">PREGUNTAS Y RESPUESTAS</a>
              </div>
              <div class="col py-2">
                <a class="text-white" href="05-contactUS.html">CONTACTO</a>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-sm-3 d-flex justify-content-center mx-5">
                <a href="index.html"><img class="rounded-pill" src="./src/assets/images/logo-nakamas.png"
                    alt="Enlace logo Nakamas" width="150" /></a>
              </div>
            </div>
          </div>
          <div class="col-sm-2 m-3">
            <div class="row d-flex justify-content-center">
              <p class="text-white">NUESTRAS REDES SOCIALES</p>
            </div>
            <div class="row d-flex justify-content-center">
              <a href="https://twitter.com/?lang=es" target="_blank"><img class="mx-1"
                  src="./src/assets/images/logo-twitter.png" alt="Enlace twitter" width="30" height="30" /></a>
              <a href="https://www.facebook.com" target="_blank"><img class="mx-1"
                  src="./src/assets/images/logo-facebook.png" alt="Enlace twitter" width="30" height="30" /></a>
              <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="mx-1"
                  src="./src/assets/images/logo-instagram.png" alt="Enlace twitter" width="30" height="30" /></a>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col d-flex justify-content-center">
            <a class="text-white" href="13-termsPrivacy.html">TÉRMINOS Y CONDICIONES</a>
          </div>
          <div class="col">
            <a class="text-white" href="13-termsPrivacy.html">AVISO DE PRIVACIDA</a>
          </div>
        </div>
      </footer>

    <!-- JS Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>