.card-efectoAzul-01{
    background: #343a40;
    width: 320px;
    height: 420px;
    margin: 0 auto;
    box-shadow: 0 0 5px #F2A516 #02569C;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center !important;
  }
  .card-efectoAzul-02{
    background: #02569C;
    display: flex;
    justify-content: center;
      
  }  
  .card-efectoAzul-01::before{
      background: #02569C;
      position: relative;
      width: 100%;
      height: 100%;
      content: "";
      top: -15%;
      transform: skewY(345deg);
      transition: 1s ease-in;
  }
  .card-efectoAzul-01:hover::before{
      top: -70%;
      transform: skewY(390deg);
  }
  .imagen-efectoAzul-01{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .imagen-efectoAzul-01 img{
      max-width: 100%;
      transition: 2s ease-in;
  }
  .card-efectoAzul-01:hover .imagen-efectoAzul-01 img{
      width: 60%;
  }
  .card-efectoAzul-01:hover .about-producto-01{
      bottom: 20px !important;
  }
  .cabeceraCards{
    position: relative;
    top: 0;
    background: #F2A516;
    border-radius: 1px 20px 1px 20px;
    margin-bottom: .5rem;
    width: 30%;
    margin-left: 60%;
  }
  .cabeceraCards-img{
    margin:  0;
    padding: 0;
    filter: brightness(0.1);
  }
  .about-producto-01{
      position: absolute;
      bottom: -60px !important;
      left: auto;
      text-align: center;
      color: azure;
  }
