header {
    background-color: #02569C;
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
}
.nav-header{
    color: #F1ECE9;
    font-size: 28px;
}
ul {
    font-family: 'Gamja Flower', cursive;
}
.dropdown-item{
    font-family: 'Gamja Flower', cursive;
}


.btn-login{
    position: absolute;
    width: 150px;
    height: 45px;
    left: 71%;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;

}

/* #login-icon {
    position: absolute;
left: 13%;
right: 75.04%;
top: 20%;
bottom: 30%;
} */

.btn-carrito {
    position: absolute;
    width: 133px;
    height: 45px;
    left: 87%;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;

}
#carrito-icon {
    position: absolute;
    left: 7%;
    right: 50%;
    top: 15%;
    bottom: 25%;
}
.nav-he {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}

#menu{
  margin:0;
  padding:0;
}

#menu li {
  background-color:#02569C;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

#menu a{
  display:block;
  padding:10px;
  letter-spacing:1px;
}

#menu li:hover {
  background:#F2A516;
}

#menu li a:hover{
  color: black;
  filter: brightness(0.1);
}

#menu ul {
  list-style:none;
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#F1ECE9;
  padding:0;
}

#menu ul li {
  float:none;
  width: 195%;
}

#menu ul a {
  padding:10px 15px;
  font-size: 26px;
  color: #F1ECE9;
}

#menu li:hover > ul {
  display:block;
}
