/* ---- header ---- */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #02569C;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    z-index: 100;
}
.li-00-index{
    list-style: none;
}
.nav-header{
    color: #F1ECE9;

}
.nav-header:hover{
    color:#F2A516;
    
}
ul {
    font-family: 'Gamja Flower', cursive;
    font-size: 28px;
}
.dropdown-item{
    font-family: 'Gamja Flower', cursive;
}
.nav-he {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}
.lineas-hr {
    height: 1px;
    border-color:#cc2424;
    background-color:#F2A516;
  }
/* Login y carrito (Botones)*/
.bt-login{
    position: absolute;
    width: 150px;
    height: 45px;
    right: 250px;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;
    border-radius: 32px;
}
.bt-carrito {
    position: absolute;
    width: 133px;
    height: 45px;
    right: 70px;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;
    border-radius: 32px;
}
#carrito-icon {
    position: absolute;
    left: 7%;
    right: 50%;
    top: 15%;
    bottom: 25%;
}

.nav-he {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}
/* Carroucel */
#sec-carroucel{
    margin: 100px auto;
    width: 80%;
    height: 512px;
}
.c-text{
    color: black;
    font-family: 'Gamja Flower', cursive;
}
.item-price{
    font-family: 'Quintessential', cursive;
}
.jumbotron{
    background-color: #F07A0D;
    
}
/* Categorias circulos*/
#cat-1{
    background: radial-gradient(circle closest-side,white 5%, #F2A516 80%,red);
    background-color:#F2A516;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: none;
}
#boton-categoria{
    text-align: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color:black;
}
.bi{
    border-radius: 24px 4px;
    
}
.circulos{
   margin: 0 auto;
}

/* CARDS CATEGORIAS */

/* ---- user Window (uW) ---- */

.uWlinksBG{
    background-color: #949398;
}

.uWdataBG{
    background-color: #F1ECE9;
}


/* ---- footer ---- */


footer{
    margin-top: auto;
}

.subtitulos{
    font-family: 'Gamja Flower', cursive;
}

.subtitulosBG{
    background-color: #02569C;
}

.textTyC_AP_BG{
    background-color: #F1ECE9;
}

.textN, .letrasChiquitas{
    font-family: 'Poppins', sans-serif;
}



/* ---- 10-starWindow ----*/
/* Solo modifica de aquí Valeria */
.carrito-compra {
    font-family: 'Gamja Flower', cursive;

}

.precio {
    margin-left: 90%;
}

.inp-cantidad{
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: #02569C;
}

.separador {
    height: 1px;
    border-color:#000000;
    background-color:#000000;
}

.all-btn {
    border-radius: 10px;
    width: 150px;
    border: none;
    color: #F1ECE9;

}

.btn-eliminar {
    background-color: #02569C;
}

.btn-pago {
    background-color: #cc2424;
}

.btn-productos {
    background-color: #4edf4e;
}
.subtotales{
    position: relative;
    margin-bottom: 4%;
   
}

.subtotales .subtotal {
    position: absolute;
    right: 0;
}

/* ---- 12 crudProducto ----*/

.imagen-logo-crud {
    width: 250px;
    border-radius: 20px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.formulario-alta-producto {
    display: block;
    margin: auto;
    height: auto;
    width: 500px;
    margin-bottom: 50px;
    font-family: 'Gamja Flower', cursive;
    background: rgba(2, 87, 156, 0.199);
    box-shadow: 0 8px 32px 0 rgba(24, 37, 206, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 50px;
}

#ingresa-datos {
    margin-top: 50px;
    font-family: 'Gamja Flower', cursive;
}

.inp-datos {
    width: 400px;
    text-align: center;
    color: #02569C;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #02569C;

}

.descripcion{
    display: block;
    margin: auto;
    width:400px;
    height:100px;
    border: none;
    border-bottom: 3px solid #02569C;
}

/* ---- 12 crudProducto (subir imagen) ----*/
#file {
    display: none;
}

.btn-12crud{
    display: block;
    margin: auto;
    border: none;
    color: #fff;
    background-color: #02569C;
    cursor: pointer;
}
   
.btn-12crud:hover{
    transition: all .4s;
    background-color: #000;
}
/* Hasta aquí Valeria */



/*  Inicio Sección del login */
.login-01log{
    margin-top: 2%;
    margin-bottom: 2%;  
}
.login-01log img{
    width: 25%;
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
}
.seccion-01login{
    border: solid 0.1rem #02569C;
    border-radius: 2rem;
    width: 50%;
    height: 100%;
    background-color: #EFEFEF;
}
.seccion-01login img{
    width: 50%;
    border-radius: .5rem;
    display: block;
    margin: 30px auto;
}
.div-01log{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.login-01log a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Gamja Flower', cursive;
}
.btn-01log{
    background: #02569C;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Gamja Flower', cursive;
    border-radius: 0.5rem;
}
.btn-01log:hover{
    transition: all .4s;
    background-color: #F2A516;
}
.form-01log input{
    font-size: 25px;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
    border-radius: 1rem;
    border: solid 0.1rem #02569C;
}
.div-01log .register-01log{
    color: rgba(0, 0, 0, .4);
}
.div-01log .loginWord-01log{
    text-decoration: underline;
}
/* Fin de la sección de Login */

/* Seccion de menu */

#menu{
  margin:0;
  padding:0;
  z-index: 100;
}

#menu li {
  background-color:#02569C;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

#menu a{
  display:block;
  padding:10px;
  letter-spacing:1px;
}

#menu li:hover {
  background:#F2A516;
}

#menu li a:hover{
  color: black;
  filter: brightness(0.1);
}

#menu ul {
  list-style:none;
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#F1ECE9;
  padding:0;
}

#menu ul li {
  float:none;
  width: 195%;
}

#menu ul a {
  padding:10px 15px;
  font-size: 26px;
  color: #F1ECE9;
}

#menu li:hover > ul {
  display:block;
}

/* Sección de la descripción */
.btn-06descrip{
    background: #F2A516;
    color: white;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
    display: block;
    border: solid 1px white;
    border-radius: .1rem;
}
.carrito-icon-06descrip{
    margin-right: 10%;
}
.card-body h3{
    font-family: 'Quintessential', cursive;
    text-align: center;
    margin-bottom: 10%;
}
