/* ---- header ---- */

header {
    background-color: #02569C;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
}
.nav-header{
    color: #F1ECE9;
}
ul {
    font-family: 'Gamja Flower', cursive;
}
.dropdown-item{
    font-family: 'Gamja Flower', cursive;
}


.btn-login{
    position: absolute;
    width: 133px;
    height: 45px;
    left: 1040px;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;
    border-radius: 8px;


}
/*
#login-icon {
    position: absolute;
left: 13%;
right: 75.04%;
top: 20%;
bottom: 30%;
}
*/
.btn-carrito {
    position: absolute;
    width: 133px;
    height: 45px;
    left: 1189px;
    top: 13px;
    background-color: #F2A516;
    color: #F1ECE9;
    font-family: 'Quintessential', cursive;
    border-radius: 8px;

}
#carrito-icon {
    position: absolute;
    left: 7%;
    right: 50%;
    top: 15%;
    bottom: 25%;
}
.nav-he {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}
/* Carroucel */
#sec-carroucel{
    position: absolute;
    width: 1006px;
    height: 512px;
    left: 200px;
    top: 149px;
   

}
.c-text{
    color: black;
    font-family: 'Gamja Flower', cursive;
}
h5{
    font-family: 'Quintessential', cursive;
}

/* CARDS CATEGORIAS */

/* ---- user Window (uW) ---- */

.uWlinksBG{
    background-color: #949398;
}

.uWdataBG{
    background-color: #F1ECE9;
}


/* ---- footer ---- */

.subtitulos{
    font-family: 'Gamja Flower', cursive;
}

.subtitulosBG{
    background-color: #02569C;
}

.textTyC_AP_BG{
    background-color: #F1ECE9;
}

.textN{
    font-family: 'Poppins', sans-serif;
}
.jumbotron{
    background-color:#F2A516;
    border-radius: 8px;

}

/*  Inicio Sección del login */
.login{
    margin-top: 2%;
    margin-bottom: 2%;  
}
.login img{
    width: 25%;
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
}
.seccion-login{
    border: solid 0.1rem #02569C;
    border-radius: 2rem;
    width: 50%;
    height: 100%;
    background-color: #EFEFEF;
}
.seccion-login img{
    width: 50%;
    border-radius: .5rem;
    display: block;
    margin: 30px auto;
}
.div-login{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.login a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Gamja Flower', cursive;
}
.btn{
    background: #02569C;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Gamja Flower', cursive;
    border-radius: 0.5rem;
}
.form-login input{
    font-size: 25px;
    font-family: 'Gamja Flower', cursive;
    text-align: center;
    border-radius: 1rem;
    border: solid 0.1rem #02569C;
}